.btn {
    height: 50px;
    width: 50px;
    background-color: #2A6AC8;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    background-color: #193f77;
    color: rgb(177, 175, 175);
  }
  
  .btn:active {
    background-color: #193f77;
    color: rgb(177, 175, 175);
  }