.container {
  width: 31.77vw;
  height: 25.26vh;
  background-color: #edf4ff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
}
