.container {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 32px;
}

.firstView {
  width: 100vw;
  height: 100vh;
}

.avatarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: #2a6ac8;
}

.avatar {
  display: flex;
  max-height: 120px;
  max-width: 120px;
  background-color: #edf4ff;
  border-radius: 20px;
}

.textures {
  width: 100%;
  position: absolute;
  z-index: -1;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.content {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 49.8125vw;
  height: 43vh;
  /* background-color: #EDF4FF; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.emojiWrapper {
  background-color: #ffe681;
  width: 13.33vw;
  height: 23.7vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  width: 9.896vw;
  height: auto;
  /* height: 17.5925925926vw;
    width: auto; */
}

.logo {
  max-width: 450px;
  max-height: 95px;
  width: 23.4375%;
  cursor: pointer;
}

.leftColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.date,
.location {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.rightColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.btnGroup{
  display:flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 65px;
  font-family: Arial, Helvetica, sans-serif;
}

.accept {
  width: 31.25vw;
  height: 9.26vh;
  border: none;
  color: white;
  background-color: #2a6ac8;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  z-index: 99999;
  font-size: 1.5rem;
}

.accept:hover {
  cursor: pointer;
  background-color: #193f77;
  color: rgb(177, 175, 175);
}

.accept:active {
  background-color: #0f2647;
  color: rgb(255, 255, 255);
}

.changeDecision {
  border: none;
  background-color: white;
  font-size: 24px;
  text-decoration: underline;
}

.changeDecision:hover {
  cursor: pointer;
  font-size: 26px;
  /* color: #1f1f1f; */
}

.changeDecision:active {
  /* background-color: lightgrey; */
  color: rgb(51, 51, 51);
}

